In [2]:
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
conf = SparkConf().setMaster("local[1]").setAppName("ex33")
sc = SparkContext(conf=conf)
spark = SparkSession.builder.appName("ex33").getOrCreate()

25/01/09 15:47:15 WARN Utils: Your hostname, paloma-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/01/09 15:47:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/09 15:47:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/01/09 15:47:19 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
schema = "sensorId STRING, date STRING, PM10 FLOAT"
data = spark.read.csv("/home/paloma/Downloads/jupyter_spark/ex33/input.csv", header=False, schema=schema)
data.show() # tambem podemos usar collect() em dataframes

+--------+----------+----+
|sensorId|      date|PM10|
+--------+----------+----+
|      s1|2016-01-01|20.5|
|      s2|2016-01-01|30.1|
|      s1|2016-01-02|60.2|
|      s2|2016-01-02|20.4|
|      s1|2016-01-03|55.5|
|      s2|2016-01-03|52.5|
+--------+----------+----+

In [4]:
data = data.rdd # transformando em rdd
# deixando a coluna de float com 1 casa decimal
pm_rounded = data.map(lambda line: round(line.PM10, 1))
pm_rounded.collect()

[20.5, 30.1, 60.2, 20.4, 55.5, 52.5]

In [5]:
# obter 3 maiores valores
pm_rounded.top(3)

[60.2, 55.5, 52.5]